* {
    font-family: 'Anaheim', sans-serif;
}

.nav-item > a:hover {
    background-color: rgb(221, 221, 212);
}

/*** 
    Header tags 
***/
.cheader-title {
    text-align: center;
    display: block;
}

#cheader-headshot {
    border: 1px solid #ddd;
    border-radius: 25%;
    padding: 7px;
}

#cheader-name {
    margin-bottom: 0.1em;
    padding: 0;
}

#cheader-desc {
    margin-top: 0.0em;
    margin-bottom: 0.3em;
}
/**********************************/

.cline {
    max-width: 350px;
    border-bottom: 2px solid #eeeaee
}

#chyperlink {
    color: #404040;
    text-decoration: none;
}

.cnav-item {
    display: inline-flex;
}

/*********************************
|    projects.html styling       |
*********************************/

.project-content {
    margin: auto;
    max-width: 250px;
}
