@font-face {
  font-family: Anaheim;
  src: url("../public/Anaheim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Anaheim, 'Garamond';
}